
html, body, #viewDiv01 {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    
    

#popdiv_write{
	position: absolute;
	top: 140px;
	left: 60px;
	width: 80px;
	height: 20%;
	padding: 5px;
	background-size: 100%;
	background-color: #CCCC66;
	opacity: 0.8;
	z-index: 9;
	
	border-style:solid;
	border-color:#ff0000 #00ff00 #0000ff rgb(250,0,255);
	border-radius:5px ;
	text-align: center;
}

.basemap{
	margin: 10px;
	z-index: 20;
}


